@media screen and (max-width: 767px) {
  .layout {
    padding-left: 15px;
    padding-right: 15px;
    }

  .page_layout {
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: max-content;
  }

  .layout__content-header {
    padding-top: calc(1vw * 4);
    padding-bottom: calc(1vw * 4);
  }
  .header__logo img {
    width: 100px;
  }
  .tabs__head {
    overflow-x: auto;
    padding-bottom: 1rem;
  }
  .tabs__head-item {
    white-space: nowrap;
  }

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
    min-width: 200px;
    column-gap: calc(2rem / 2);
  }
}
